

/**
 * Common
 * @flow
 */

const URL_HOME = 'http://192.168.11.8:20001';
//const URL_HOME = 'https://m.humake.co.kr';

const Config = {
  URL_HOME,
  INTRO_IMAGE: `${URL_HOME}/resource/images/bg_intro.png`,
  JSINTERFACE: 'MyAppJSCall',
};

export default Config;


